.*
!.gitignore
__pycache__/
/text/articles/
/text/defence/
/data/raw/

*.dat.nc
*.aux
*.glo
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.snm
*.nav

*.docx
!/text/defence/defence.docx
text/Экспортированные документы.bib
text/text.md